.error {
    color: red;
}

.success {
    color: green;
}

.conteiner {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

form {
    width: 30%;
}

.conteinerT {
    width: 33%;
    margin: 40px auto;
}

table {
    width: 100%;
}

tr:first-of-type {
    background-color: #CCCCCC;
}

td {
    padding: 7px;
}
